{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
<div class="main-body">
    <section class="submit-section">
        <div class="submit-container wow fadeInUp" data-wow-duration="1s">
            <div class="submit-text">
                {% trans %}%contact_us.ask_form.result.nok%{% endtrans %}
            </div>
        </div>
    </section>
{% endblock content %}