{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="main-body">
        {% block header_logo %}
        <section id="home-section" class="std-header">
            <div class="home-logo-top">
                <div class="home-logo-container unselectable">
                    <div class="home-logo-text-divider">
                        <div class="home-logo-text-wrapper wow fadeIn" data-wow-duration="5s">
                                {% trans %}%home.logo.text%{% endtrans %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock header_logo %}
        <section id="services-section" class="home-services unselectable">
            <div class="home-services-top">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-cell-entry">
                        {% trans %}%home.services.top.text%{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="home-services-middle">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-services-table">
                        {% trans %}%home.services.middle.text%{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="home-services-bottom">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-services-table">
                        <div class="home-cell">
                            <div class="home-cell-entry">
                                <div class="home-cell-entry-header">
                                    {% trans %}%home.services.description.engineering.header%{% endtrans %}
                                </div>
                                <div class="home-cell-text">
                                    {% trans %}%home.services.description.engineering.text%{% endtrans %}
                                </div>
                            </div>
                        </div>
                        <div class="home-cell-divider"></div>
                        <div class="home-cell">
                            <div class="home-cell-entry">
                                <div class="home-cell-entry-header">
                                    {% trans %}%home.services.description.outsourcing.header%{% endtrans %}
                                </div>
                                <div class="home-cell-text">
                                    {% trans %}%home.services.description.outsourcing.text%{% endtrans %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="about-us-section" class="home-about home-section-bg-1 unselectable">
            <div class="home-about-top">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-about-text">
                        {% trans %}%home.about.about-us%{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="home-services-bottom">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-about-table">
                        <div class="home-cell">
                            <div class="home-cell-text-white">
                                {% trans %}%home.about.location%{% endtrans %}
                            </div>
                        </div>
{#                        <div class="home-cell-divider"></div>#}
{#                        <div class="home-cell-3">#}
{#                            <div class="home-cell-text-white">#}
{#                                {% trans %}%home.about.team%{% endtrans %}#}
{#                            </div>#}
{#                        </div>#}
                        <div class="home-cell-divider"></div>
                        <div class="home-cell">
                            <div class="home-cell-text-white">
                                {% trans %}%home.about.advantages%{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="why-section" class="home-why unselectable">
            <div class="home-why-top">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-services-table">
                        <div class="home-cell">
                            <div class="home-cell-entry">
                                {% trans %}%home.why.header%{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-why-bottom">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    {% trans %}%home.why.text%{% endtrans %}
                </div>
            </div>
        </section>
        <section id="team-and-location" class="home-why home-section-bg-2 unselectable">
            <div class="home-services-bottom">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-about-table">
                        <div class="home-cell">
                            <div class="home-cell-text-white">
                                {% trans %}%description.team.text%{% endtrans %}
                            </div>
                        </div>
                        <div class="home-cell-divider"></div>
                        <div class="home-cell">
                            <div class="home-cell-text-white">
                                {% trans %}%description.location.text%{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}