{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="main-body">
        <div class="main-body-image">
            <div class="main-body-image-content">
                <div class="main-body-image-text">
                    {% trans %}%home.image_text%{% endtrans %}
                </div>
            </div>
        </div>
        <div class="main-body-content-wrapper">
            <div class="main-body-how">
                {% trans %}%home.how%{% endtrans %}
            </div>
            <div class="main-body-content">
                <div class="main-body-how-steps">
                    <div class="main-body-how-steps-vert-entry">
                        <div class="main-body-how-steps-vert-header">
                            {% trans %}%home.steps.design.header%{% endtrans %}
                        </div>
                        <div class="main-body-how-steps-vert-content-wrapper">
                            <div class="main-entry-content-image-wrapper">
                                <img alt="architecture" class="main-entry-content-image" src="/img/home/arch_notxt.png"/>
                            </div>
                            <div class="main-body-how-steps-vert-content-text">
                                {% trans %}%home.steps.design.body%{% endtrans %}
                            </div>
                        </div>
                    </div>
                    <div class="main-body-how-steps-vert-entry">
                        <div class="main-body-how-steps-vert-header">
                            {% trans %}%home.steps.implementation.header%{% endtrans %}
                        </div>
                        <div class="main-body-how-steps-vert-content-wrapper">
                            <div class="main-entry-content-image-wrapper">
                                <img alt="coding" class="main-entry-content-image" src="/img/home/coding_notxt.png"/>
                            </div>
                            <div class="main-body-how-steps-vert-content-text">
                                {% trans %}%home.steps.implementation.body%{% endtrans %}
                            </div>
                        </div>
                    </div>
                    <div class="main-body-how-steps-vert-entry">
                        <div class="main-body-how-steps-vert-header">
                            {% trans %}%home.steps.qa.header%{% endtrans %}
                        </div>
                        <div class="main-body-how-steps-vert-content-wrapper">
                            <div class="main-entry-content-image-wrapper">
                                <img alt="qa" class="main-entry-content-image" src="/img/home/qa.png"/>
                            </div>
                            <div class="main-body-how-steps-vert-content-text">
                                {% trans %}%home.steps.qa.body%{% endtrans %}
                            </div>
                        </div>
                    </div>
                    <div class="main-body-how-steps-vert-entry">
                        <div class="main-body-how-steps-vert-header">
                            {% trans %}%home.steps.support.header%{% endtrans %}
                        </div>
                        <div class="main-body-how-steps-vert-content-wrapper">
                            <div class="main-entry-content-image-wrapper">
                                <img alt="support" class="main-entry-content-image" src="/img/home/support.png"/>
                            </div>
                            <div class="main-body-how-steps-vert-content-text">
                                {% trans %}%home.steps.support.body%{% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body-bottom-filler"></div>
            <div class="main-body-why-us">
                <div class="main-body-why-us-header">
                    {% trans %}%home.pros.why%{% endtrans %}
                </div>
                <div class="main-body-why-us-slider">
                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide">
                                    <div class="main-body-why-us-entry-wrapper">
                                        <div class="main-body-why-us-entry-image-wrapper">
                                            <img class="main-body-why-us-entry-image" src="/img/home/pros_design.png" alt="design">
                                        </div>
                                        <div class="main-body-why-us-entry-text">
                                            <h3>
                                                {% trans %}%home.pros.experience.header%{% endtrans %}
                                            </h3><br/>
                                            {% trans %}%home.pros.experience.body%{% endtrans %}
                                        </div>
                                    </div>
                                </li>
                                <li class="glide__slide">
                                    <div class="main-body-why-us-entry-wrapper">
                                        <div class="main-body-why-us-entry-image-wrapper">
                                            <img class="main-body-why-us-entry-image" src="/img/home/pros_flexibility.png" alt="design">
                                        </div>
                                        <div class="main-body-why-us-entry-text">
                                            <h3>
                                                {% trans %}%home.pros.flexibility.header%{% endtrans %}
                                            </h3><br/>
                                            {% trans %}%home.pros.flexibility.body%{% endtrans %}
                                        </div>
                                    </div>
                                </li>
                                <li class="glide__slide">
                                    <div class="main-body-why-us-entry-wrapper">
                                        <div class="main-body-why-us-entry-image-wrapper">
                                            <img class="main-body-why-us-entry-image" src="/img/home/pros_services.png" alt="design">
                                        </div>
                                        <div class="main-body-why-us-entry-text">
                                            <h3>
                                                {% trans %}%home.pros.we_care.header%{% endtrans %}
                                            </h3><br/>
                                            {% trans %}%home.pros.we_care.body%{% endtrans %}
                                        </div>
                                    </div>
                                </li>
                                <li class="glide__slide">
                                    <div class="main-body-why-us-entry-wrapper">
                                        <div class="main-body-why-us-entry-image-wrapper">
                                            <img class="main-body-why-us-entry-image" src="/img/home/pros_testing.png" alt="design">
                                        </div>
                                        <div class="main-body-why-us-entry-text">
                                            <h3>
                                                {% trans %}%home.pros.we_test.header%{% endtrans %}
                                            </h3><br/>
                                            {% trans %}%home.pros.we_test.body%{% endtrans %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="glide__arrows" data-glide-el="controls">
                            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% trans %}%home.slider.arrows.prev%{% endtrans %}</button>
                            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% trans %}%home.slider.arrows.next%{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}