.submit-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
    flex-flow: column nowrap;
    margin: auto;
}

.submit-top {
    margin-bottom: 30px;
}

.submit-container {
    width: 80%;
    margin: auto;
}

.submit-text {
    text-align: center;
}

.submit-filler {
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("../../../img/generic/filler.jpg");
    background-size: cover;
    background-attachment: local;
    background-position: center;
    background-color: #000e32;
}