body {
    background-color: #ffffff;
}

.main-div {
    display: block;
    position: relative;
}

@media only screen and (max-width : 1170px)  {
    body {
        min-width: 100vw;
        width: 100vw;
    }
}