{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="main-body">
        <div class="main-body-image">
            <div class="main-body-image-content">
                <div class="main-body-image-text">
                    {% trans %}%company.image_text%{% endtrans %}
                </div>
            </div>
        </div>
        <div class="company-body-content-wrapper">
            <div class="main-body-how">
                <div class="company-logo-wrapper"></div>
            </div>
            <div class="main-body-content">
                <div class="company-text">
                    {% trans %}%company.foundation%{% endtrans %}
                    <h2 align="center">
                        {% trans %}%home.pros.why%{% endtrans %}
                    </h2>
                    {% trans %}%company.pros%{% endtrans %}
                    <h2 align="center">
                        {% trans %}%company.location.header%{% endtrans %}
                    </h2>
                    {% trans %}%company.location.body%{% endtrans %}
                </div>
                <div class="company-images-wrapper">
                    <div class="company-petersburg-image-wrapper">
                        <img alt="Valoru" class="company-petersburg-image" src='/img/company/petersburg_01.jpg'/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}