{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="main-body">
        {% block header_logo %}
        <section id="header2" class="std-header">
            <div class="home-logo-top">
                <div class="home-logo-container">
                    <div class="home-logo-text-divider">
                        <div class="home-logo-text-wrapper wow fadeIn" data-wow-duration="5s">
                            {% trans %}%description.team.text%{% endtrans %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock header_logo %}
        <section id="team-description" class="description-section">
            <div class="description-section-header">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-cell-entry">
                        {% trans %}%description.team.header.text%{% endtrans %}
                    </div>
                </div>
            </div>
            <div class="home-services-middle">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-services-table">
                        {% trans %}%description.team.middle.text%{% endtrans %}
                    </div>
                </div>
            </div>
        </section>
        <section id="location-description" class="description-section">
            <div class="home-about-top">
                <div class="home-container wow slideInLeft" data-wow-duration="1s">
                    <div class="home-services-table">
                        {% trans %}%description.location.text%{% endtrans %}
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}