<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="expires" content="Tue, 30 Nov 2020 00ru:00:00 GMT" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}?v=4">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}?v=4">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}?v=4">
        <link rel="icon" href="{{ asset('favicon.ico') }}?v=4" type="image/x-icon">
        <link rel="manifest" href="{{ asset('manifest.json') }}"/>
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5"/>
        <meta name="msapplication-TileColor" content="#da532c"/>
        <meta name="theme-color" content="#ffffff"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="yandex-verification" content="f1c783674a63e40d" />
        <meta
                name="description"
                content="Valoru - Software development and outsourcing services. We create a link between your business and your ideas."
        />
        <title>{% block title %}Valoru - software development and outsourcing{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
            <div id="root">
                <div class="remodal-bg">
                    <div class="remodal" data-remodal-id="modal_success">
                        <button data-remodal-action="close" class="remodal-close"></button>
                        <div class="hovering-status">
                            {% trans %}%contact_us.email.success%{% endtrans %}
                        </div>
                    </div>
                </div>
                <div class="remodal-bg">
                    <div class="remodal" data-remodal-id="modal_failure">
                        <button data-remodal-action="close" class="remodal-close"></button>
                        <div class="hovering-status failure">
                            {% trans %}%contact_us.email.error%{% endtrans %}
                        </div>
                    </div>
                </div>
                {% block header %}
                <header class="main-header transparent" id="header-main-block">
                    <div class="hdr-outer">
                        <div class="hdr-menu">
{#                            <button class="hdr-lang-menu-selector" id="lang-dropdown-menu-button">#}
{#                                {% trans %}%header.language_selector%{% endtrans %}#}
{#                            </button>#}
{#                            <div class="hdr-lang-dropdown" id="lang-dropdown-menu">#}
{#                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" class="hdr-lang-menu-button" data-language="en">#}
{#                                    {% trans %}%header.language.en%{% endtrans %}#}
{#                                </a>#}
{#                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}" class="hdr-lang-menu-button" data-language="ru">#}
{#                                    {% trans %}%header.language.ru%{% endtrans %}#}
{#                                </a>#}
{#                            </div>#}
                            <div class="hdr-logo">
                                <a class="hdr-logo" href="{{ '/' ~ locale }}" title="Home">
                                    <img class="hdr-logo-img" alt="Valoru" src="{{ asset('build/img/header/logo_180x30.png') }}"/>
                                </a>
                            </div>
                        </div>
                        <div class="hdr-inventory">
                            <nav class="hdr-inventory-nav">
                                <a class="hdr-inv-button" href="{{ '/' }}" title="Company" id="inventory-home-ref">
                                    {% trans %}%header.inventory.home%{% endtrans %}
                                </a>
                                {% if not mobile %}
                                <a class="hdr-inv-button" href="{{ '#services-section' }}" title="Services" id="inventory-services-ref">
                                    {% trans %}%header.inventory.services%{% endtrans %}
                                </a>
                                <a class="hdr-inv-button" href="{{ '#about-us-section' }}" title="Company" id="inventory-about-us-ref">
                                    {% trans %}%header.inventory.about_us%{% endtrans %}
                                </a>
                                {% endif %}
                                <a class="hdr-inv-button" href="{{ '#team-and-location' }}" title="Contacts" id="inventory-contact-us-ref">
                                    {% trans %}%header.inventory.contact_us%{% endtrans %}
                                </a>
                            </nav>
                        </div>
                    </div>
                </header>
                {% endblock header %}
                {% block content %}{% endblock content %}
                {% block footer %}
                <div class="footer">
                    <div class="footer-container-top">
                        <div class="footer-contacts-container">
                            <div class="footer-content-wrapper">
                                <div class="footer-contacts-table" id="contact-us-section">
                                    <div class="footer-contacts-cell">
                                        <div class="footer-contacts-text">
                                            {% trans %}%footer.footer_text%{% endtrans %}
                                        </div>
                                    </div>
                                    <div class="footer-contacts-cell">
                                        <button class="footer-contacts-ask-button" id="ask-question-button">
                                            {% trans %}%footer.contact_us.ask_question%{% endtrans %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-container-bottom">
                        <div class="footer-content-wrapper">
                            <div class="footer-bottom-line">
                                <div class="footer-copyright">
                                    {% trans %}%footer.copyright%{% endtrans %}
                                </div>
{#                                <div class="footer-bottom-links">#}
{#                                    <div class="footer-bottom-cell">#}
{#                                        <a href="/privacy-policy">{% trans %}%footer.bottom.privacy_policy%{% endtrans %}</a>#}
{#                                    </div>#}
{#                                    <div class="home-cell-divider"></div>#}
{#                                    <div class="footer-bottom-cell">#}
{#                                        <a href="/terms-of-use">{% trans %}%footer.bottom.terms_of_use%{% endtrans %}</a>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock footer %}
            </div>
            <div class="remodal-bg">
                <div class="remodal" data-remodal-id="modal_ask_question">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    <form id="ask-submit-form" method="post">
                        <div class="ask-form-wrapper">
                            <div class="ask-form-content">
                                <div class="ask-form-params">
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <label class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.name%{% endtrans %}<sup class="ask-form-required">*</sup>
                                            </label>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   required
                                                   name="name"
                                                   id="ask-question-input-name"/>
                                        </div>
                                    </div>
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <label class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.email%{% endtrans %}<sup class="ask-form-required">*</sup>
                                            </label>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   required
                                                   type="email"
                                                   name="email"
                                                   id="ask-question-input-email"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="ask-form-params">
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <label class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.phone%{% endtrans %}
                                            </label>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   type="tel"
                                                   name="phone"
                                                   id="ask-question-input-phone"/>
                                        </div>
                                    </div>
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <label class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.website%{% endtrans %}
                                            </label>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   name="website"
                                                   id="ask-question-input-website"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="ask-form-entry-wrapper">
                                    <div class="ask-form-entry-choice">
                                            <textarea class="ask-form-text-area"
                                                      required
                                                      cols="100"
                                                      rows="10"
                                                      maxlength="2000"
                                                      placeholder=""
                                                      form="ask-submit-form"
                                                      name="ask-text"
                                                      id="ask-question-input-text"></textarea>
                                    </div>
                                </div>
                                <div class="send-button-wrapper">
                                    <button type="submit" class="send-button active" id="ask-submit-button">
                                        {% trans %}%contact_us.ask_form.send_button_value%{% endtrans %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </body>
</html>
