{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="main-body">
        <div class="main-body-content-wrapper">
            <div class="main-body-content">
                <form id="contact-us-submit-form" class="contact-us-submit-form">
                    <div class="ask-form-wrapper">
                        <div class="contact-us-inner">
                            <div class="contact-us-header">
                                {% trans %}%contact_us.header_text%{% endtrans %}
                            </div>
                            <div class="ask-form-content">
                                <div class="ask-form-params">
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <div class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.name%{% endtrans %}<sup class="ask-form-required">*</sup>
                                            </div>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   required
                                                   name="name"
                                                   id="input-name"/>
                                        </div>
                                    </div>
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <div class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.email%{% endtrans %}<sup class="ask-form-required">*</sup>
                                            </div>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   required
                                                   type="email"
                                                   name="email"
                                                   id="input-email"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="ask-form-params">
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <div class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.phone%{% endtrans %}<sup class="ask-form-required">*</sup>
                                            </div>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   required
                                                   name="phone"
                                                   id="input-phone"/>
                                        </div>
                                    </div>
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <div class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.company%{% endtrans %}<sup class="ask-form-required">*</sup>
                                            </div>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   required
                                                   name="company"
                                                   id="input-company"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="ask-form-params">
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <div class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.position%{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   name="position"
                                                   id="input-position"/>
                                        </div>
                                    </div>
                                    <div class="ask-form-entry-wrapper ask-form-entry-wrapper-compact">
                                        <div class="ask-form-entry-title">
                                            <div class="ask-form-entry-title-text">
                                                {% trans %}%contact_us.ask_form.website%{% endtrans %}
                                            </div>
                                        </div>
                                        <div class="ask-form-entry-choice">
                                            <input class="ask-form-input"
                                                   name="website"
                                                   id="input-website"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="ask-form-entry-wrapper">
                                    <div class="ask-form-entry-choice">
                                            <textarea class="ask-form-text-area"
                                                      required
                                                      cols="100"
                                                      rows="10"
                                                      maxlength="2000"
                                                      placeholder=""
                                                      form="contacts-submit-form"
                                                      name="text"
                                                      id="input-text"></textarea>
                                    </div>
                                </div>
                                <div class="send-button-wrapper">
                                    <button type="submit" class="send-button active" id="submit-button">
                                        {% trans %}%contact_us.ask_form.send_button_value%{% endtrans %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}