<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="expires" content="Tue, 30 Nov 2020 00ru:00:00 GMT" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}?v=2">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}?v=2">
    <link rel="icon" href="{{ asset('favicon.ico') }}?v=2" type="image/x-icon">
    <link rel="manifest" href="{{ asset('manifest.json') }}"/>
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="5b22148edb9c8bfb" />
    <meta
            name="description"
            content="Valoru - Software development and outsourcing services. We create a link between your business and your ideas."
    />
    <title>{% block title %}Valoru - software development and outsourcing{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/App.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/index.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/Header.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/Footer.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/Inventory.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('js/remodal/css/remodal.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('js/remodal/css/remodal-default-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/animate/animate.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/Contacts.min.css') }}"/>
    {% endblock stylesheets %}
    {% block text %}
        <b>Name</b>: {{ form_name }}<br>
        <b>Email address:</b> {{ form_email }}<br>
        {% if form_phone %}<b>Phone number:</b> {{ form_phone }}<br>{% endif %}
        {% if form_website %}<b>Website:</b> {{ form_website }}<br>{% endif %}
        <b>Message: </b><br>{{ form_text }}<br>
        <b>IP Address:</b> {{ ip_address }}
    {% endblock text %}
</head>
<body>
</body>
</html>