.company-logo-wrapper {
    width: 100%;
    height: 64px;
    background-image: url("../../img/company/logo_company.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.company-text {
    font-size: 30px;
    text-align: left;
    white-space: pre-line;
    padding-top: 40px;
}

.company-body-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1.0)), url("../../img/company/bg_picture.jpg");
    background-size: cover;
    background-position: center;
}

.company-images-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.company-petersburg-image-wrapper {
    width: 600px;
    height: 291px;
}

.company-petersburg-image {
    width: 600px;
    border: 1px solid #333333;
}

@media only screen and (max-width : 320px)  {
    .company-logo-wrapper {
        height: 20px;
    }

    .company-images-wrapper {
        margin-top: 30px;
    }

    .company-text {
        font-size: 12px;
    }

    .company-petersburg-image-wrapper {
        width: 204px;
        height: 100px;
    }

    .company-petersburg-image {
        width: 204px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    .company-logo-wrapper {
        height: 40px;
    }

    .company-text {
        font-size: 20px;
    }

    .company-images-wrapper {
        margin-top: 20px;
    }

    .company-petersburg-image-wrapper {
        width: 204px;
        height: 100px;
    }

    .company-petersburg-image {
        width: 204px;
    }
}