.remodal {
    border: 0;
    border-radius: 4px;
    max-width: 70%;
    padding: 0;
    color: #555555;
}

.contact-us-header {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 60px;
}

.contact-us-submit-form {
    max-width: 90%;
    margin: auto;
    border-radius: 4px;
    border: 1px solid gainsboro;
}

.contact-us-inner {
    max-width: 80%;
    margin: auto;
}

.ask-form-wrapper {
    padding: 30px;
}

.ask-form-required {
    color: darkred;
    padding-left: 6px;
}

.ask-form-header {
    width: 100%;
    height: 32px;
    align-content: end;
    align-items: end;
    text-align: right;
}

.ask-form-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ask-form-params {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ask-form-exit-button {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    background-size: contain;
    background-attachment: local;
    background-repeat: no-repeat;
    outline: none;
    border: 0;
}

.ask-form-entry-wrapper {
    display: block;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    padding: 0 30px 0 30px;
}

.ask-form-entry-wrapper-compact {
    margin: 0;
    border-top: none;
}

.ask-form-entry-title {
    display: inline-flex;
    flex-direction: column;
    justify-content: stretch;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.ask-form-entry-title-text {
    text-align: left;
    white-space: nowrap;
}

.ask-form-entry-choice {
    text-align: center;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 0;
    flex-wrap: wrap;
}

.ask-form-button {
    border: 1px solid gainsboro;
    border-radius: 0;
    background-color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.ask-form-button:hover {
    background-color: #EEEEEE;
}

.ask-form-button.active {
    background-color: #ff8200;
    color: #ffffff;
}

.ask-form-right-filler {
    width: 4px;
    background-color: #000000;
    filter: drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.7));
}

.ask-form-input {
    height: 60px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
}

.ask-form-text-area {
    box-sizing: border-box;
    min-height: 300px;
    width: 100%;
    resize: none;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 40px;
    outline: none;
    text-align: left;
}

.send-button-wrapper {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
}

.send-button {
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 0;
    border-radius: 6px;
    background-color: #005088;
    outline: none;
    cursor: pointer;
    padding: 10px 60px;
}

.send-button:hover {
    background-color: #0080d9;
}

.send-button:disabled {
    background-color: gainsboro;
}

.send-button.error {
    background-color: darkred;
}

.hovering-status.failure {
    color: darkred;
}

@media only screen and (max-width : 320px)  {
    .remodal {
        max-width: 95vw;
    }

    .ask-form-wrapper {
        border-top: 1px gainsboro solid;
    }

    .ask-form-header {
        height: 32px;
    }

    .ask-form-exit-button {
        width: 32px;
        height: 32px;
    }

    .ask-form-entry-wrapper {
        min-width: 200px;
        margin-top: 8px;
    }

    .ask-form-entry-wrapper-compact {
        margin: 0;
        border-top: none;
    }

    .ask-form-entry-title {
        font-size: 10px;
        min-width: 80px;
    }

    .ask-form-entry-choice {
        font-size: 10px;
        margin: 4px;
    }

    .ask-form-button {
        font-size: 10px;
        width: 90px;
        height: 30px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 2px;
    }

    .ask-form-button:hover {
        background-color: #ff8200ff;
    }

    .ask-form-button.active {
        background-color: #ff8200ff;
    }

    .ask-form-right-filler {
        width: 4px;
        background-color: #000000;
        filter: drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.7));
    }

    .ask-form-input {
        height: 20px;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .ask-form-text-area {
        min-height: 100px;
        font-size: 10px;
        padding: 10px;
    }

    .send-button-wrapper {
        margin-top: unset;
    }

    .send-button {
        padding: 6px;
        font-size: 10px;
        min-width: 80px;
    }

    .hovering-status {
        font-size: 10px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px) {
    .remodal {
        max-width: 95vw;
    }

    .ask-form-wrapper {
        padding: 0;
    }

    .ask-form-header {
        height: 32px;
    }

    .ask-form-exit-button {
        width: 32px;
        height: 32px;
    }

    .ask-form-params {
        display: block;
        margin: 0;
    }

    .ask-form-wrapper {
        padding: 24px;
    }

    .ask-form-entry-wrapper {
        min-width: 280px;
        margin-top: 20px;
        padding: 0;
    }

    .ask-form-entry-wrapper-compact {
        margin: 0;
        border-top: none;
    }

    .ask-form-entry-title {
        font-size: 14px;
        min-width: 120px;
    }

    .ask-form-entry-choice {
        font-size: 14px;
        margin: 0;
    }

    .ask-form-button {
        font-size: 14px;
        width: 120px;
        height: 40px;
        margin: 4px;
        padding: 4px;
    }

    .ask-form-button:hover {
        background-color: #ff8200ff;
    }

    .ask-form-button.active {
        background-color: #ff8200ff;
    }

    .ask-form-right-filler {
        width: 4px;
        background-color: #000000;
        filter: drop-shadow(4px 0px 3px rgba(0, 0, 0, 0.7));
    }

    .ask-form-input {
        height: 20px;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .ask-form-text-area {
        min-height: 100px;
        font-size: 14px;
        padding: 10px;
    }

    .contact-us-header {
        padding-bottom: 30px;
    }

    .contact-us-inner {
        margin: 12px;
        max-width: 100%;
    }

    .contact-us-submit-form {
        margin: 0;
        width: 100%;
        max-width: none;
    }

    .send-button-wrapper {
        margin-top: unset;
    }

    .send-button {
        font-size: 14px;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        border: 0;
        border-radius: 6px;
        background-color: #005088;
        outline: none;
        cursor: pointer;
        padding: 10px 24px;
    }
}