.std-header {
    background-image: url("../../img/description/bg/team_logo.jpg");
}

.description-section {
    width: 100%;
    background-color: white;
    z-index: 2;
    position: relative;
    display: block;
    padding: 80px 0 60px 0;
}

.section-bg {
    min-height: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-image: url("../../img/description/bg/desc_filler.jpg");
    background-size: cover;
    background-position: center;
    background-color: #002c48;
}