.error-text {
    text-align: center;
    font-size: 64px;
    margin-top: 60px;
    align-content: center;
    align-items: center;
}

.error-image {
    margin-bottom: 60px;
}

@media only screen and (max-width : 1170px) {
    .error-image {
        max-width: 200px;
    }

    .error-text {
        font-size: 32px;
    }
}