.footer {
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 14px;
}

.footer-container-top {
    display: flex;
    width: 100%;
    padding: 10px 0 10px 0;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    background-color: #f5f5f5;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.footer-container-bottom {
    padding: 10px 0 10px 0;
    margin-bottom: 0;
}

.footer-content-wrapper {
    width: 80%;
    margin: auto;
}

.footer-bottom-line {
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.footer-bottom-links {
    display: inline-flex;
}
.footer-bottom-cell {
    padding: 0 20px 0 20px;
}

.footer-contacts-container {
    color: #555555;
    display: flex;
    width: 100%;
    border-radius: 6px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-contacts-text {
}

.footer-contacts-ask-button {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: 0;
    border-radius: 6px;
    background-color: #005088;
    outline: none;
    cursor: pointer;
    padding: 10px 24px;
}

.footer-contacts-ask-button:hover {
    animation: pulse;
    animation-duration: 500ms;
}

.footer-copyright {
    color: #949494;
    font-size: 12px;
    position: relative;
}

.footer-contacts-table {
    display: table;
    width: 100%;
    text-align: center;
}

.footer-contacts-cell {
    align-items: center;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 50%;
}

@media only screen and (max-width : 320px)  {
    .footer {
        background-color: #333333;
        min-width: 220px;
        max-height: unset;
        min-height: unset;
    }

    .footer-container-top {
        display: flex;
        flex-wrap: wrap;
        min-width: 200px;
        padding: 10px;
        margin: unset;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer-contacts-container {
        height: 40px;
        width: 100%;
    }

    .footer-contacts-ask-button {
        font-size: 8px;
        width: 60px;
        min-width: 60px;
        margin-left: 10px;
        margin-right: 0;
    }

    .footer-contacts-text {
        font-size: 8px;
        margin: 0;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    .footer {
        background-color: #333333;
    }

    .footer-container-top {
        min-width: 280px;
        border-top: 0;
    }

    .footer-container-bottom {
        min-width: 280px;
        margin: 0;
    }

    .footer-contacts-container {
        height: fit-content;
    }

    .footer-contacts-ask-button {
        font-size: 12px;
        font-weight: bolder;
        width: 120px;
        min-width: 120px;
        margin-left: 20px;
        margin-right: 10px;
        padding: 4px;
    }

    .footer-contacts-text {
        margin-left: 20px;
    }

    .footer-content-wrapper {
        width: 100%;
    }

    .footer-bottom-line {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}