nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
}

/* Main classes*/
.main-header {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
    background-color: #002c48;
    color: #333333;
    height: 60px;
    width: 100%;
    min-width: 100%;
    position: fixed;
    z-index: 3;
    -webkit-transition: background 500ms cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: background 500ms cubic-bezier(0.4, 0, 1, 1);
    -o-transition: background 500ms cubic-bezier(0.4, 0, 1, 1);
    transition: background 500ms cubic-bezier(0.4, 0, 1, 1);
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.7));
}

.main-header.transparent {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
    background-color: transparent;
    -webkit-transition: background 500ms cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: background 500ms cubic-bezier(0.4, 0, 1, 1);
    -o-transition: background 500ms cubic-bezier(0.4, 0, 1, 1);
    transition: background 500ms cubic-bezier(0.4, 0, 1, 1);;
}

.hdr-menu {
    display: inline-flex;
    align-items: center;
}

.hdr-outer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    height: 100%;
    align-items: center;
    margin: auto;
}

/* Inner classes */
.hdr-logo {
    display: flex;
}

.hdr-logo-img {
    height: 34px;
    max-width: 234px;
}

.main-header .hdr-lang-menu {
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    color: #FFFFFF;
    justify-content: flex-end;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}

.hdr-lang-dropdown {
    text-align: center;
    position: absolute;
    top: 100%;
    width: 98px;
    max-width: 98px;
    z-index: 100;
    margin-right: -1px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.hdr-lang-dropdown.open {
    visibility: visible;
    opacity: 1;
}

.hdr-lang-menu-button {
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    display: block;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin: 0;
    text-decoration: none;
    z-index: 3;
    align-content: center;
    text-align: center;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.8));
}

.hdr-lang-menu-button:hover {
    color: #b1d1e8;
}

.main-header .hdr-lang-menu-selector {
    display: block;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 0;
    z-index: 3;
}

.hdr-lang-menu-selector.open {
    background-color: transparent;
}

.hdr-lang-menu-selector:hover {
    color: #b1d1e8;
}

@media only screen and (max-width : 320px)  {
    nav {
        width: 100%;
        height: 100%;
    }

    /* Main classes*/
    .main-header {
        width: 100%;
    }

    .hdr-outer {
        width: 100%;
        height: 100%;
    }

    .hdr-inventory {
        min-width: 0;
    }

    /* Inner classes */
    .hdr-logo {
        display: flex;
        vertical-align: middle;
        flex: 1 0 70px;
        height: 100%;
        align-items: center;
        align-content: center;
        min-width: 70px;
        margin-left: 4px;
    }

    .hdr-logo img {
        max-height: 100%;
        max-width: 100%;
    }

    .hdr-lang-menu {
        flex: 1 0 30px;
        height: 100%;
        width: 30px;
        min-width: 0;
        margin-right: 4px;
    }

    .hdr-lang-dropdown {
        text-align: left;
        position: absolute;
        top: 100%;
        width: 60px;
        z-index: 100;
        margin-right: -1px
    }

    .hdr-lang-menu-button {
        font-size: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 100%;
        display: block;
        color: #FFFFFF;
        border: 0;
    }

    .hdr-lang-menu-selector {
        min-width: 30px;
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    nav {
        width: 100%;
        height: 100%;
    }

    /* Main classes*/
    .main-header {
        height: 30px;
        width: 100%;
        min-width: 100%;
    }

    .hdr-outer {
        width: 100%;
        height: 100%;
    }

    /* Inner classes */
    .hdr-logo {
        display: flex;
        vertical-align: middle;
        flex: 1 0 111px;
        height: 100%;
        align-items: center;
        align-content: center;
        min-width: 111px;
        margin-left: 4px;
    }

    .hdr-logo img {
        height: 17px;
        min-width: 119px;
    }

    .hdr-lang-menu {
        flex: 1 0 30px;
        height: 100%;
        min-width: 30px;
        width: 30px;
        margin-right: 4px;
    }

    .hdr-lang-dropdown {
        text-align: left;
        position: absolute;
        top: 100%;
        width: 60px;
        z-index: 100;
        margin-right: -1px
    }

    .hdr-lang-menu-button {
        font-size: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 100%;
        display: block;
        border: 0;
    }

    .hdr-lang-menu-selector {
        width: 30px;
        min-width: 30px;
        height: 30px;
        font-size: 12px;
    }
}