.home-logo-top {
    max-width: 2550px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
}

.home-logo-bottom {
    max-width: 90%;
    display: block;
}

.home-logo-container {
    display: block;
    width: 90%;
    margin: auto;
}

.home-logo-text-divider {
    width: 50%;
    padding-top: 30px;
}

.home-logo-text-wrapper {
    font-weight: normal;
    color: white;
    visibility: hidden;
}

.home-logo-text-wrapper h1 {
    color: white;
}

.home-logo-text-wrapper h2 {
    color: white;
}

.home-logo-text-wrapper h3 {
    color: white;
}

.home-logo-text-wrapper h4 {
    color: white;
}

.home-container {
    width: 80%;
    margin: auto;
}

.home-cell {
    display: table-cell;
    text-align: center;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.home-cell-3 {
    display: table-cell;
    text-align: center;
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;
}

.home-services {
    max-width: 2550px;
    width: 100%;
    background-color: white;
    z-index: 2;
    position: relative;
    display: block;
    padding: 80px 0 60px 0;
}

.home-services-top {
    color: #005a8c;
    margin-bottom: 10px;
}

.home-services-middle {
    vertical-align: middle;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.home-services-bottom {
    vertical-align: bottom;
    box-sizing: border-box;
    min-height: 200px;
    height: 200px;
}

.home-services-table {
    display: table;
    width: 100%;
    text-align: center;
}

.home-cell-entry {
    text-align: center;
}

.home-cell-entry-header {
    text-align: left;
    color: #005a8c;
    margin-bottom: 20px;
}

.home-cell-text {
    text-align: left;
}

.home-cell-text-white {
    color: white;
    text-align: center;
    text-shadow: 0 0 4px #000000;
}

.home-cell-text-white h1 {
    color: white;
}

.home-cell-text-white h2 {
    color: white;
}

.home-cell-text-white h3 {
    color: white;
}

.home-cell-text-white h4 {
    color: white;
}

.home-cell-divider {
    display: table-cell;
    border-left: solid 1px gainsboro;
    height: 100%;
    max-width: 1px;
    padding: 0;
}

.home-section-bg-1 {
    background-repeat: no-repeat;
    background-image: url("../../img/home/bg/home_filler.jpg");
    background-size: cover;
    background-position: center;
    background-color: #002c48;
}

.home-section-bg-2 {
    background-repeat: no-repeat;
    background-image: url("../../img/home/bg/desc_filler.jpg");
    background-size: cover;
    background-position: center;
    background-color: #002c48;
}

.home-about {
    min-height: 400px;
    height: 400px;
    width: 100%;
    z-index: 2;
    padding: 80px 0 60px 0;
}
.home-about-top {
    margin-bottom: 30px;
}

.home-about-text {
    text-align: center;
    color: white;
    text-shadow: 0 0 4px #000000;
}

.home-about-text h1 {
    color: white;
}

.home-about-text h2 {
    color: white;
}

.home-about-text h3 {
    color: white;
}

.home-about-text h4 {
    color: white;
}

.home-about-table {
    display: table;
    width: 100%;
    text-align: center;
}

.home-about-location-cell {

}

.home-about-team-cell {

}

.home-why {
    width: 100%;
    z-index: 2;
    padding: 80px 0 60px 0;
}

.home-why-top {
    color: #005a8c;
    margin-bottom: 10px;
}

.home-why-bottom {
    text-align: center;
    margin-bottom: 10px;
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    .home-logo-text-divider {
        width: 100%;
        text-shadow: 0 0 4px #000000;
    }

    .home-services {
        padding: 20px 0 10px 0;
    }

    .home-services-bottom {
        padding: 0;
        min-height: 0;
        height: auto;
    }

    .home-about {
        padding: 20px 0 10px 0;
        height: 300px;
        min-height: 300px;
    }

    .home-about-top {
        margin-bottom: 20px;
    }

    .home-container {
        width: auto;
        padding-right: 8px;
        padding-left: 8px;
    }

    .home-cell {
        padding-left: 12px;
        padding-right: 12px;
    }

    .home-cell-text-white {
        text-align: left;
    }

    .home-why {
        height: fit-content;
        padding: 20px 0 10px 0;
        min-height: 230px;
    }
}