.hdr-inventory {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    text-align: center;
    height: 100%;
    justify-content: flex-end;
}

.hdr-inventory-nav {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    min-width: 300px;
    /*flex: 1 0 100%;*/
    height: 100%;
    justify-content: center;
    margin: auto;
}

.hdr-inv-button {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    vertical-align: middle;
}

.hdr-inv-button:hover {
    color: #b1d1e8;
}

@media only screen and (max-width : 320px)  {
    .hdr-inv-button {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 8px;
    }

    .hdr-inventory-nav {
        min-width: 172px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    .hdr-inventory {
        display: inline;
        justify-content: left;
        min-width: 0;
    }

    .hdr-inventory-nav {
        min-width: 0;
        justify-content: flex-start;
        width: auto;
        margin-right: 20px;
    }

    .hdr-inv-button {
        margin-left: 16px;
        margin-right: 0;
        padding: 0;
        font-size: 12px;
    }
}