@import url(//fonts.googleapis.com/css?family=Open+Sans);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #555555;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    color: #555555;
}

input:focus {
    outline: 0;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: transparent;
}

h1 {
    font-size: 58px;
    font-weight: normal;
    margin: 0;
    color: #005a8c;
}

h1 strong {
    font-weight: bold;
}

h2 {
    font-size: 46px;
    font-weight: normal;
    margin: 0;
    color: #005a8c;
}

h2 strong {
    font-weight: bold;
}

h3 {
    font-size: 38px;
    font-weight: normal;
    margin: 0;
    color: #005a8c;
}

h3 strong {
    font-weight: bold;
}

h4 {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    color: #005a8c;
}

h4 strong {
    font-weight: bold;
}

button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #005a8c;
}

a:hover {
    color: #b1d1e8;
}

.a-white {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/* Main classes*/
.main-body {
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
}

.main-body-image {
    min-height: 32px;
    width: 100%;
    background-repeat: repeat-x;
    background-image: url("../../img/home/bg/body_pattern.png"), linear-gradient(180deg, #444444, #425357);
    background-size: auto;
    background-attachment: local;
    background-position: top;
    border-bottom: 4px solid #333333;
    z-index: 2;
    position: relative;
}

.main-body-image-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 100%;
    position: relative;
}

.main-body-image-text {
    font-weight: bolder;
    font-size: 32px;
    /*text-shadow: 0px 0px 10px #000000;*/
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    min-width: 720px;
    height: 100%;
    padding: 4px;
    /*filter: drop-shadow(3px -3px 5px rgba(0, 0, 0, 0.5));*/
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: #111;*/
    z-index: 3;
}

.main-body-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.main-body-content {
    width: 80%;
    z-index: 0;
    background: white;
    padding: 120px 0 60px 0;
}

.main-body-how {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 42px;
    font-weight: bold;
    color: #333333;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    border-bottom: 4px solid #333333;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.70));
    z-index: 1;
    /*filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.70));*/
}


.main-body-how-steps {
    min-height: 700px;
    width: 100%;
    color: #333333;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.main-body-how-steps-vert-entry {
    min-width: 275px;
    max-width: 275px;
    min-height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 0;
    border-left: 1px solid;
    border-right: 1px solid;
    border-style: solid;
    border-image:
            linear-gradient(
                    to bottom,
                    #333333,
                    #FFFFFF
            ) 1 100%;
    background-color: #fafafa;
    /*background: linear-gradient(35deg, #e13400ff, #ff8200ff);*/
}

.main-body-how-steps-vert-header {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    max-height: 80px;
    min-height: 80px;
    min-width: 275px;
    background-image: url("../../img/home/bg/vert_entry_header.png"), linear-gradient(180deg, #333333, #425357);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 1px solid #333333;
    background-color: #2b2e38;
}

.main-body-how-steps-vert-content-wrapper {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-body-how-steps-vert-content-text {
    margin-top: 30px;
    font-size: 14px;
    text-align: left;
    white-space: pre-line;
}

.main-entry-content-image-wrapper {
    text-align: center;
}

.main-body-bottom-filler {
    display: flex;
    min-width: 100%;
    border-top: 4px solid #333333;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.70));
    justify-content: center;
}

.main-body-why-us-header {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 42px;
    font-weight: bold;
    min-width: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-body-why-us {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    min-width: 760px;
    justify-content: center;
}

.main-body-why-us-slider {
    display: block;
    height: 100%;
    width: 50%;
    max-width: 70%;
    min-width: 760px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    /*background: linear-gradient(45deg, #FFFFFF, #eeeeee);*/
    border: 1px solid #EEEEEE;
    border-radius: 6px;
}

.main-body-why-us-entry-wrapper {
    display: flex;
    width: 100%;
    min-height: 230px;
}

.main-body-why-us-entry-image{
    max-width: 297px;
    max-height: 297px;
}

.main-body-why-us-entry-image-wrapper {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
}

.main-entry-content-image {
    max-width: 207px;
    max-height: 207px;
}

.main-body-why-us-entry-text {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    width: 100%;
    font-size: 16px;
    text-align: left;
    padding: 3px;
    align-content: center;
    vertical-align: middle;
    margin: 30px;
    white-space: pre-line;
}

.main-body-how-step {
    height: 320px;
    width: 320px;
    color: #333333;
    font-size: 24px;
}

.main-body-how-step-slider {
    height: 100%;
    width: 50%;
    max-width: 70%;
    min-width: 760px;
    /*height: 320px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*vertical-align: center;*/
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    filter: drop-shadow(10px -10px 10px rgba(0, 0, 0, 0.5));
    background: linear-gradient(35deg, #e13400ff, #ff8200ff);
}

.main-body-how-step-slide {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    min-height: 100px;
    /*padding: 60px;*/
}

.main-body-how-step-index {
    display: inline-flex;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
    padding: 2px;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 32px;
}

.main-body-how-step-header {
    display: flex;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #333333;
}

.main-body-how-step-body {
    color: #FFFFFF;
    font-size: 30px;
    padding: 40px;
    white-space: pre-line;
}

.main-body-how-step-trans {
    width: 300px;
    animation: slideshow 10s linear infinite;
}

@media only screen and (max-width : 320px)  {
    /* Main classes*/
    .main-body {
        height: 100%;
        width: 100%;
        min-width: 220px;
        padding-bottom: 40px;
    }

    .main-body-image {
        height: 32px;
        min-height: 32px;
        width: 100%;
        min-width: 100%;
    }

    .main-body-image-content {
        font-size: 38px;
        width: 100%;
        height: 100%;
    }

    .main-body-image-text {
        font-weight: bolder;
        font-size: 10px;
        width: 80%;
        min-width: 50%;
        margin: auto;
        height: 100%;
        max-height: unset;
        padding: 0
        /*-webkit-text-stroke-width: 1px;*/
        /*-webkit-text-stroke-color: #111;*/
    }

    .main-body-content {
        min-width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
    }

    .main-body-how {
        padding-top: 6px;
        padding-bottom: 6px;
        margin: 0;
        font-size: 16px;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        background-color: #FFFFFF;
    }


    .main-body-how-steps {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .main-body-how-step {
        height: 320px;
        width: 320px;
        font-size: 7px;
    }

    .main-body-how-step-slider {
        height: 100%;
        width: 80%;
        max-width: 200px;
        min-width: 80%;
        margin-bottom: 40px;
    }

    .main-body-how-step-slide {
        min-height: 100px;
    }

    .main-body-how-step-index {
        width: 16px;
        height: 16px;
        padding: 2px;
        font-size: 16px;
        font-weight: bolder;
    }

    .main-body-how-step-header {
        font-size: 12px;
        /*vertical-align: bottom;*/
        /*margin-left: 10px;*/
        height: 24px;
        -webkit-box-align: center;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
    }

    .main-body-how-step-body {
        font-size: 12px;
        padding-bottom: 30px;
    }

    .main-body-how-step-trans {
        width: 300px;
        animation: slideshow 10s linear infinite;
    }

    .main-body-how-steps-vert-entry {
        min-width: 200px;
        max-width: 275px;
        min-height: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        border: 1px solid #333333;
        background-color: #fafafa;
    }

    .main-body-why-us-entry-wrapper {
        max-width: 100%;
        min-width: 160px;
        flex-wrap: wrap;
    }

    .main-body-why-us-entry-image-wrapper {
        min-width: 100%;
    }

    .main-body-why-us-entry-text {
        font-size: 14px;
        max-width: 140px;
        margin: 10px;
    }

    .main-body-why-us-entry-image {
        max-width: 140px;
    }

    .main-body-why-us {
        max-width: 200px;
        min-width: 200px;
    }

    .main-body-why-us-header {
        font-size: 20px;
    }

    .main-body-why-us-slider {
        flex-wrap: wrap;
        min-width: 200px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    .main-entry-content-image {
        max-width: 100px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    /* Main classes*/
    .main-body {
        width: 100%;
        min-width: 100vw;
    }

    .main-body-image {
        height: 48px;
        min-height: 48px;
        width: 100%;
        min-width: 100%;
    }

    .main-body-image-content {
        font-size: 38px;
        width: 100%;
        height: 100%;
    }

    .main-body-image-text {
        font-weight: bolder;
        font-size: 14px;
        width: 80%;
        min-width: 50%;
        margin: auto;
        height: 100%;
        padding-left: 0;
        /*-webkit-text-stroke-width: 1px;*/
        /*-webkit-text-stroke-color: #111;*/
    }

    .main-body-content {
        min-width: 280px;
        padding: 60px 8px 0;
        width: 100vw;
    }

    .main-body-how {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        font-size: 20px;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        background-color: #FFFFFF;
    }


    .main-body-how-steps {
        height: 100%;
        width: 100%;
        font-size: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .main-body-how-step {
        height: 320px;
        width: 320px;
        font-size: 7px;
    }

    .main-body-how-step-slider {
        height: 100%;
        width: 80%;
        max-width: 200px;
        min-width: 80%;
        margin-bottom: 40px;
    }

    .main-body-how-step-slide {
        min-height: 200px;
    }

    .main-body-how-step-index {
        width: 16px;
        height: 16px;
        padding: 2px;
        font-size: 16px;
        font-weight: bolder;
    }

    .main-body-how-step-header {
        font-size: 18px;
        /*vertical-align: bottom;*/
        /*margin-left: 10px;*/
        height: 24px;
        -webkit-box-align: center;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
    }

    .main-body-how-step-body {
        font-size: 16px;
        padding: 20px;
        padding-bottom: 30px;
    }

    .main-body-how-step-trans {
        width: 300px;
        animation: slideshow 10s linear infinite;
    }

    .main-body-how-steps-vert-entry {
        min-width: 275px;
        max-width: 275px;
        min-height: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        border: 1px solid #333333;
        background-color: #fafafa;
    }

    .main-body-why-us-entry-wrapper {
        width: 100%;
        flex-wrap: wrap;
    }

    .main-body-why-us-entry-image-wrapper {
        min-width: 100%;
    }

    .main-body-why-us-entry-text {
        font-size: 14px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .main-body-why-us-entry-image {
        max-width: 140px;
    }

    .main-body-why-us {
        min-width: 280px;
    }

    .main-body-why-us-header {
        font-size: 20px;
    }

    .main-body-why-us-slider {
        flex-wrap: wrap;
        min-width: 280px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    .main-entry-content-image {
        max-width: 140px;
    }
}