.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.std-header {
    min-height: 600px;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../../img/home/bg/home_logo.jpg");
    background-size: cover;
    background-attachment: local;
    background-position: top;
    background-color: #000e32;
    z-index: 2;
    position: relative;
    display: table;
    margin: auto;
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    .std-header {
        min-height: 300px;
        height: 100%;
    }
}

@media only screen and (min-width : 320px) and (max-width : 1170px)  {
    body {
        font-size: 14px !important;
    }

    h1 {
        font-size: 28px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    h3 {
        font-size: 22px !important;
    }

    h4 {
        font-size: 20px !important;
    }
}